// EXT:ucph_ce_textimage
.textpic {
    display: flex;
    flex-direction: column;
}

// Image above text, centered
.textpic-above {
    .textpic-img {
        align-self: center;
    }
}

// Image above text, aligned to the right
.textpic-above-right {
    .textpic-img {
        align-self: flex-end;
    }
}

// Image above text, aligned to the left
.textpic-above-left {
    .textpic-img {
        align-self: flex-start;
    }
}

// Image below text, centered
.textpic-below {
    .textpic-img {
        order: 2;
        align-self: center;
    }
}

// Image below text, aligned to the right
.textpic-below-right {
    .textpic-img {
        order: 2;
        align-self: flex-end;
    }
}

// Image below text, aligned to the left
.textpic-below-left {
    .textpic-img {
        order: 2;
        align-self: flex-start;
    }
}

// Image besides text, top right
.textpic-centered-right {
    .textpic-img {
        order: 2;
    }
}

@include media-breakpoint-up(lg) {

    // Image besides text, left and right
    .textpic {

        &.textpic-centered-left,
        &.textpic-centered-right {
            flex-direction: row;

            >* {
                flex: 1;
            }
        }

        &.textpic-float-left,
        &.textpic-float-right {
            display: unset;

            .textpic-img {
                max-width: 50%;
            }
        }
    }

    // Float image left
    .textpic-float-left {
        .textpic-img {
            float: left;
            margin: 0 1.5rem .5rem 0;
        }
    }

    // Float image right
    .textpic-float-right {
        .textpic-img {
            float: right;
            margin: 0 0 .5rem 1.5rem;
        }
    }

    // Image besides text, top left
    .textpic-centered-left {
        .textpic-img {
            margin: 0 1.5rem .5rem 0;
        }
    }

    // Image besides text, top right
    .textpic-centered-right {
        .textpic-img {
            margin: 0 0 .5rem 1.5rem;
        }
    }
}