<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="textpic textpic-centered-left">
        <div class="textpic-item textpic-img">
            <f:if condition="{images}">
                <f:then>
                    <f:for each="{images}" as="image">
                        <figure class="image">
                            <picture>
                                <source srcset="{f:uri.image(image:image, width:'1400', cropVariant: 'xlarge')}" media="(min-width: 1400px)" />
                                <source srcset="{f:uri.image(image:image, width:'1200', cropVariant: 'large')}" media="(min-width: 1200px)" />
                                <source srcset="{f:uri.image(image:image, width:'992', cropVariant: 'medium')}" media="(min-width: 992px)" />
                                <source srcset="{f:uri.image(image:image, width:'768', cropVariant: 'small')}" media="(min-width: 768px)" />
                                <source srcset="{f:uri.image(image:image, width:'620', cropVariant: 'xsmall')}" media="(min-width: 0px)" />
                                <img class="img-responsive" src="{f:uri.image(image: image, treatIdAsReference: true, maxWidth: settings.maxImgWidth, cropVariant: 'default')}" alt="{image.alternative}" />
                            </picture>
                            <f:if condition="{image.description}">
                                <figcaption>{image.description}</figcaption>
                            </f:if>
                        </figure>
                    </f:for>
                </f:then>
            </f:if>
        </div>
        <div class="textpic-item textpic-text">
            <f:if condition="{data.header}">
                <h2>
                    <f:format.htmlspecialchars doubleEncode="false">{data.header}</f:format.htmlspecialchars>
                </h2>
            </f:if>
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</f:section>

</html>